  .main-footer {
      color: #1687A7;
      background-color: #F6F5F5;
      bottom: 0;
      width: 100%;
      position: static;
      font-family: 'Poppins'
  }
  .div1{
    position : relative;
	width : 100%;
  }

